.a-propos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    padding-top: 5em;
    background-image: url(../images/bg_apropos2.png);
    background-size: cover;
    background-position: center;
    font-family: all-round-gothic, sans-serif;
    background-attachment: fixed;

    .titre-apropos {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2.5em;
        }

        img {
            width: 200px;
        }
    }

    .texte-apropos {
        background-color: rgba(0, 0, 0, 0.648);
        border-radius: 0.5em;
        box-shadow: 0px 0px 50px rgb(24, 24, 24);
        width: 50vw;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        position: relative;
        padding: 3rem;

        p {
            font-size: 1.5em;
            padding-top: 1.5rem;
        }
    }

    .titre-admin {
        color: white;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 15px;
        font-weight: 600;
        text-transform: uppercase;
        text-shadow: 0px 0px 15px black;
    }

    .ligne-haut {
        margin-bottom: 15px;
        height: 2px;
        width: 50%;
        box-shadow: 0px 0px 10px white;
        background: linear-gradient(to left, transparent, white, transparent), linear-gradient(to right, transparent, white, transparent);
        display: flex;
        align-self: center;
    }

    .ligne-h2 {
        margin-bottom: 50px;
        height: 2px;
        width: 50%;
        box-shadow: 0px 0px 10px white;
        background: linear-gradient(to left, transparent, white, transparent), linear-gradient(to right, transparent, white, transparent);
        display: flex;
        align-self: center;
    }

    .admin {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
        gap: 5%;
        background-color: rgba(0, 0, 0, 0.648);
        border-radius: 0.5em;
        box-shadow: 0px 0px 50px rgb(24, 24, 24);
        padding: 2rem 0rem;


        .admin-total {
            display: flex;
            flex-direction: column;
            align-items: center;

            .admin-nom {
                display: flex;


                h1 {
                    flex: auto;
                    font-size: 2em;
                    padding-left: 1.5rem;
                }
            }

            .img-admin {
                display: flex;

                img {
                    margin-top: 1.5em;
                    border: 1px solid white;
                    border-radius: 50%;
                    object-fit: cover;
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }

    .nous-joindre {
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        margin-top: 3em;

        .info-total {
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.648);
            border-radius: 0.5em;
            box-shadow: 0px 0px 50px rgb(24, 24, 24);
            padding: 2rem 3rem;


            .phrases {
                padding: 3rem;
                font-size: 2em;
                text-align: center;

                img {
                    width: 300px;
                }

                .titre-info {
                    font-size: 1em;
                    font-weight: 500;
                }

                .phrase-info {
                    padding-bottom: 0.5em;
                    padding-top: 0.5em;
                }
            }
        }
    }
}

/*******************************/
/********** RESPONSIVE *********/
/*******************************/

@media screen and (max-width:1024px) {
    .a-propos {
        .titre-apropos {
            h1 {
                font-size: 1.5em;
            }
        }

        .texte-apropos {
            margin: 7rem auto;
            p {
                font-size: 1em;
            }
        }

        .titre-admin {
            font-size: 2em;
        }

        .admin {
            .admin-total {
                .admin-nom {
                    h1 {
                        font-size: 1em;
                    }
                }

                .img-admin {
                    img {
                        width: 200px;
                    }
                }
            }
        }

        .nous-joindre {
            .info-total {
                .phrases {
                    font-size: 2em;

                    img {
                        width: 200px;
                    }

                    .titre-info {
                        font-size: 0.65em;
                    }
                    .phrase-info{
                        font-size: 0.55em;
                    }
                }
            }

            .carte {
                iframe {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {

    .a-propos {
        .titre-apropos {

            h1 {
                font-size: 1em;
            }
        }

        .texte-apropos {
            width: 400px;

            p {
                font-size: 0.75em;
            }
        }

        .titre-admin {
            font-size: 1.5em;
        }

        .admin {
            padding: 0.75em;
            gap: 3%;
            flex-direction: column;

            .admin-total {
                .admin-nom {
                    h1 {
                        font-size: 1em;
                    }
                }

                .img-admin {

                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }

        .nous-joindre {
            .info-total {
                .phrases {
                    font-size: 1em;

                    img {
                        width: 100px;
                    }

                    .titre-info {
                        font-size: 0.65em;
                    }
                    .phrase-info{
                        font-size: 0.55em;
                    }

                }
            }

            .carte{
                iframe{
                    width: 200px;
                    height: 200px;
                }
            }

        }

    }

}
