.a-propos {
    width: 100vw;
    height: 100vh;
    padding-top: 3em;
    background-image: url(../images/bg_apropos2.jpg);
    background-size: cover;
    font-family: all-round-gothic, sans-serif;

    h1 {
        text-align: center;
        font-size: 2em;
    }

    .texte-apropos {
        background-color: rgba(0, 0, 0, 0.648);
        border-radius: 0.5em;
        box-shadow: 0px 0px 50px rgb(24, 24, 24);
        width: 50vw;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        position: relative;
        padding: 3rem;

        p {
            padding-top: 1.5rem;
        }
    }

    .img-admin {
        display: flex;

        img {
            width: 50vw;
            height: 50vh;

        }
    }

    .nous-joindre {
        display: flex;
        padding-top: 3rem;

        .info {
            font-size: 2em;
        }
    }
}
