.confirmation-message {
    position: relative;
    top: 140px;
}

.bill {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background-sand.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


    .bill_forfaits {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;


        .boite_1 {
            z-index: 3;
            width: 450px;
            height: 600px !important;
            background-color: rgba(255, 255, 255, 0.591);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        .bill_boite {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 450px;
            height: 500px;
            transition: transform 0.3s ease-in-out;
            box-shadow: 0px 0px 40px rgb(255 255 255 / 70%);
            cursor: pointer;

            &:hover {
                box-shadow: none;
                // border: 2px inset rgba(168, 167, 167, 0.801);
            }

            &.boite_gauche {
                margin-right: 10%;
                box-shadow: none;

                p {
                    margin-right: 60px;
                }

                .prix {
                    p {
                        margin: 0;
                    }
                }

                .btn-reserver {
                    margin-right: 60px;
                }

            }

            &.boite_droite {
                margin-left: 10%;
                box-shadow: none;

                p {
                    margin-left: 60px;
                }

                .prix {
                    p {
                        margin: 0;
                    }
                }

                .btn-reserver {
                    margin-left: 60px;
                }
            }
        }

        .bill_nom {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.4);
            width: 100%;
            height: 80px;
            text-align: center;
            color: black;
            font-family: 'all-round-gothic';
            font-weight: 600;
            font-size: 2.5em;
            text-transform: uppercase;
        }

        .prix {
            background-color: rgb(0 0 0 / 65%);
            backdrop-filter: blur(3px);
            text-align: center;
            text-transform: uppercase;
            font-family: $font-gothic;

            p {
                font-size: 2em;

            }

            .tarif {
                font-size: 2.5em;

            }
        }

        .btn-reserver {
            display: flex;
            justify-content: center;
            font-family: ethnocentric, sans-serif;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.5em;
            padding: 10px;
            margin-bottom: 40px;
            width: 260px;
            border: 3px solid white;
            box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
            text-shadow: 0px 0px 5px white;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            a {
                text-decoration: none;
                color: white;
            }

            &:hover {
                background-color: $blue;
                color: $blue-fonce;
                text-shadow: 0px 0px 5px $blue-fonce;
                box-shadow: 0px 0px 10px $blue;
                border: 3px solid $blue;

                a {
                    color: $blue-fonce;
                }
            }
        }
    }

    @keyframes shake {
        0% {
            box-shadow: 0px 0px 5px white;
        }

        25% {
            box-shadow: 0px 0px 15px white;
            /* Augmentez l'intensité de l'ombre ici */
        }

        50% {
            box-shadow: 0px 0px 5px white;
        }

        75% {
            box-shadow: 0px 0px 15px white;
            /* Augmentez l'intensité de l'ombre ici */
        }

        100% {
            box-shadow: 0px 0px 5px white;
        }
    }
}

/*******************************/
/********** RESPONSIVE *********/
/*******************************/

@media screen and (max-width:1024px) {

    .bill {
        .bill_forfaits {
            .boite_1 {
                width: 350px;
                height: 450px !important;

                a {
                    top: 75%;
                }
            }

            .bill_boite {
                width: 300px;
                height: 350px;
            }

            .bill_nom {
                font-size: 1.25em;
            }

            a {
                top: 70%;
            }
        }
    }
}

@media screen and (max-width:480px) {

    .bill {
        .bill_forfaits {
            .boite_1 {
                width: 200px!important;
                height: 350px !important;

                a {
                    top: 70%;
                    width: 80%;
                    font-size: 1em;
                    height: 30px;
                }
            }

            .bill_boite {
                width: 150px;
                height: 300px;

                &.boite_gauche {
                    margin-right: 14%;
                }

                &.boite_droite {
                    margin-left: 14%;
                }
            }

            .bill_nom {
                font-size: 1em;

            }

            a {
                top: 65%;
                width: 85%;
                font-size: 0.75em;
                height: 30px;

            }
        }
    }
}
