/*******************************/
/********** COMPONENTS *********/
/*******************************/

/********** NAV *********/

.menu-cache {
    display: none;
    position: absolute;
    width: 100%;
}

.nav-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgb(0 0 0), rgb(0 0 0 / 0%));
    width: 100%;
    height: 130px;
    z-index: 5;

    .logo-nav {
        margin-left: 80px;
    }

    img {
        top: 25%;
        height: 70%;
        margin-top: 10px;
    }

    .nav-btn-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 50px;

        .acc-btn {

            img {
                filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
                width: 40px;
            }
        }

        p {
            font-size: 1.3em;
        }

        .acc-menu {
            font-family: $font-gothic;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

/*********** FOOTER ***********/

footer {
    display: flex;
    flex-direction: column;
    background-color: black;

    .footer-media {
        display: flex;
        align-items: center;
        align-self: center;
        margin-top: 100px;

        .ligne-gauche {
            display: flex;
            margin-right: 30px;
            height: 1px;
            width: 300px;
            box-shadow: 0px 0px 10px #1DA5F3;
            background: linear-gradient(to left, #ffffff, transparent);
        }

        .foot-media {
            display: flex;
            align-items: center;

            li {
                margin: 0px 30px;

                img {
                    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
                    transition: filter 0.2s ease-in-out;

                    &:hover {
                        filter: none;
                    }
                }
            }
        }

        .ligne-droite {
            display: flex;
            margin-left: 30px;
            height: 1px;
            width: 300px;
            box-shadow: 0px 0px 10px #1DA5F3;
            background: linear-gradient(to right, #ffffff, transparent);
        }
    }

    .foot-nav-adresse {
        display: flex;
        justify-content: space-around;
        margin: 80px 0px;

        .foot-menu {
            display: flex;
            flex-direction: column;

            .menu {
                font-family: $font-gothic;
                font-size: 2em;
                font-weight: 500;
            }

            li {
                font-family: $font-ethno;
                font-weight: 300;
                margin: 10px 0px;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }

        .foot-map {
            align-self: center;
            text-align: center;
            margin-left: 75px;

            img {
                height: 60px;
            }

            p {
                font-family: $font-gothic;
                font-size: 1.3em;
            }
        }

        .foot-logo {
            align-self: center;

            img {
                height: 200px;
            }

            p {
                text-align: center;
                font-family: $font-ethno;
                font-weight: 300;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }

    .foot-app {
        display: flex;
        align-items: center;
        align-self: center;

        .ligne-gauche {
            display: flex;
            margin-right: 80px;
            height: 1px;
            width: 300px;
            box-shadow: 0px 0px 10px #1DA5F3;
            background: linear-gradient(to left, #ffffff, transparent);
        }

        p {
            font-family: $font-gothic;
            font-size: 1.3em;
            text-transform: uppercase;
            font-weight: 500;
            text-shadow: 0px 0px 20px white;
        }

        .ligne-droite {
            display: flex;
            margin-left: 80px;
            height: 1px;
            width: 300px;
            box-shadow: 0px 0px 10px #1DA5F3;
            background: linear-gradient(to right, #ffffff, transparent);
        }
    }

    .foot-store {
        display: flex;
        align-self: center;
        justify-content: space-evenly;
        width: 400px;
        margin-top: 30px;

        .apple {
            display: flex;
            height: 60px;
            border: 1px solid grey;
            border-radius: 5px;
        }

        .google {
            display: flex;
            height: 60px;
            border: 1px solid grey;
            border-radius: 5px;
        }
    }

    .foot-copy {
        display: flex;
        justify-content: center;
        margin: 20px 0px;

        img {
            width: 16px;
        }

        p {
            font-family: $font-gothic;
            text-transform: uppercase;
        }
    }
}

/*********** MENU ***********/

.hidden {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    z-index: 100;
    color: black;

    .flex-hidden {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 130px;
        z-index: 5;

        .logo-nav {
            margin-left: 80px;

        }

        img {
            top: 25%;
            height: 70%;
            margin-top: 10px;
        }

        .nav-hidden-btn-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 65px;

            .nav-btn {
                display: flex;
                align-items: center;
                flex-direction: column;
                transition: color 0.2s ease-in-out, filter 0.2s ease-in-out;

                &:hover {
                    color: $blue;
                    filter: drop-shadow(0px 0px 20px $blue);
                }

                .img-hidden {
                    width: 40px;
                }
            }

            p {
                font-size: 1.3em;
                font-family: $font-gothic;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .nav-ul-hidden {
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-hidden-a {
            display: inline-block;
            text-decoration: none;
            color: black;
            font-family: $font-ethno;
            font-size: 2.5em;
            margin-top: 3.5rem;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: $blue;
            }
        }
    }

    .bas-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 7rem;

        .nav-hidden-compte {
            color: black;
            font-family: $font-ethno;
            font-size: 2.5em;
            font-weight: 500;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            padding: 30px 48px;
            margin: 0 10px;
            border: 3px solid black;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            &:hover {
                background-color: $blue;
                color: $blue-fonce;
                box-shadow: 0px 0px 10px $blue;
                border: 3px solid $blue;
            }
        }

        .contact-info {
            font-family: $font-gothic;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;

            p {
                font-size: 1.45em;
            }

            .mail-nav {
                font-size: 1.75em;
                font-weight: 600;
            }

            .tel-nav {
                font-size: 1.75em;
                font-weight: 600;
            }
        }
    }
}

/*********** MESSAGES *************/

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*******************************/
/********** RESPONSIVE *********/
/*******************************/

@media screen and (max-width: 1024px) {

/*********** FOOTER *************/

    footer {
        .footer-media {
            .ligne-gauche {
                display: none;
            }

            .foot-media {
                li {
                    img {
                    }
                }
            }

            .ligne-droite {
                display: none;
            }
        }

        .foot-nav-adresse {
            flex-direction: column;

            .foot-menu {
                align-items: center;
            }

            .foot-map {
                margin-top: 50px;
                margin-left: 0;
            }

            .foot-logo {
                margin-top: 50px;
            }
        }

        .foot-app {

            .ligne-gauche {
                display: none;
            }

            p {
            }

            .ligne-droite {
                display: none;
            }
        }
    }
}

/*********** MENU ***********/

@media screen and (max-width: 1024px) {

    .hidden {
        top: 0;
        justify-content: center;

        .flex-hidden {
            justify-content: flex-end;
            flex-direction: column;
            margin-top: 20px;

            .logo-nav {
                display: flex;
                align-items: flex-end;
                align-self: center;
                margin-left: 0;

                img {
                    height: 20%;
                    margin-top: 0;
                }
            }

            .nav-hidden-btn-menu {
                margin-right: 0;
            }
        }

        .bas-nav {
            margin-top: 3rem;

            .nav-hidden-compte {
                font-size: 1em;
                padding: 5px 20px;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .hidden {
        top: 0;
        justify-content: center;

        .flex-hidden {
            justify-content: flex-end;
            flex-direction: column;
            margin-top: 20px;

            .logo-nav {
                display: flex;
                align-items: flex-end;
                align-self: center;
                margin-left: 0;

                img {
                    height: 10%;
                    margin-top: 0;
                }
            }

            .nav-hidden-btn-menu {
                margin-right: 0;
            }
        }

        .nav-ul-hidden {

            .nav-hidden-a {
                font-size: 1.5em;
            }
        }

        .bas-nav {
            margin-top: 3rem;

            .nav-hidden-compte {
                font-size: 1em;
                padding: 5px 20px;
                margin-bottom: 20px;
            }

            .contact-info {
                display: none;
            }
        }
    }
}
