.prog {
    background-image: url(../images/lignes.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding-top: 10em;

    .prog_bubbles {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        position: relative;
        height: 600px;
        flex-wrap: wrap;

        .image_bubbles {
            min-height: 100%;
            display: flex;
            position: relative;

            img {
                width: 260px;
                height: 260px;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0px 0px 8px white;
                margin-bottom: 10px;
                transition: transform 0.3s ease;
                position: relative;

                &:hover {
                    transform: rotate3d(1, 1, 1, 45deg);
                }
            }

            // span {
            //     top: 0;
            //     position: absolute;
            //     padding: 10px;
            //     text-align: center;
            //     font-weight: bold;
            //     backface-visibility: hidden;
            //     bottom: -30px; /* Ajustez la valeur pour aligner correctement les spans par rapport aux images */
            //     left: 0;
            //     width: 100%;

            // }

        }

        .image-haut  {
            align-self: flex-start; // Aligner l'image en haut
        }

        .image-milieu {
            align-self: center; // Aligner l'image au milieu
        }

        .image-bas {
            align-self: flex-end; // Aligner l'image en bas
        }

    }

    h1 {
        margin-top: 2rem;
        padding: 2em 0 0 2em;
        text-shadow: 0px 0px 5px white;
        font-size: 5em;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        margin-bottom: 2rem;
    }
}





