/*******************************/
/********** VARIABLES **********/
/*******************************/

$font-ethno: ethnocentric, sans-serif;
$font-gothic: all-round-gothic, sans-serif;
$blue: #1DA5F3;
$blue-fonce: #06162F;
