/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*******************************/
/********** VARIABLES **********/
/*******************************/
/*******************************/
/*********** ACCUEIL ***********/
/*******************************/
nav {
  position: absolute;
  top: 280px;
  left: 549px;
  z-index: 1000;
}
nav a {
  text-decoration: none;
  color: white;
}

.titre-hidden {
  display: none;
}

/*********** HEADER ***********/
.acc-header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding: 50px 0;
}
.acc-header .acc-media li img {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
}
.acc-header .acc-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acc-header .acc-centre .acc-date {
  font-family: all-round-gothic, sans-serif;
  font-size: 3em;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.acc-header .acc-centre .acc-logo img {
  width: 800px;
  padding-top: 50px;
}
.acc-header .acc-centre .acc-fleche .cercle {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #1DA5F3;
  box-shadow: 0px 0px 20px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acc-header .acc-btn-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acc-header .acc-btn-menu .acc-btn img {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
  width: 40px;
}
.acc-header .acc-btn-menu p {
  font-size: 1.3em;
}
.acc-header .acc-btn-menu .acc-menu {
  font-family: all-round-gothic, sans-serif;
}

/*********** MAIN ***********/
.acc-text-events {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.acc-text-events .phrases {
  position: absolute;
  font-family: "all-round-gothic";
  font-weight: 600;
  font-size: 10em;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}
.acc-text-events .phrases p {
  margin: 100px 0px;
  word-spacing: 100px;
}
.acc-text-events .video-background {
  position: relative;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acc-text-events .video-background video {
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.acc-events .events .vignettes-events {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.acc-events .events .vignettes {
  flex: 0 0 30%;
  padding: 10px;
  text-align: center;
}
.acc-events .events .vignettes img {
  max-width: 100%;
  height: auto;
}
.acc-events .events-bg {
  position: relative;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acc-events .events-bg img {
  max-width: 100%;
  height: auto;
}

/*******************************/
/*********** ACCUEIL ***********/
/*******************************/
/*******************************/
/*********** BILLETERIE ***********/
/*******************************/
.bill {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bill .bill_forfaits {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.bill .bill_forfaits .boite_1 {
  z-index: 3;
  width: 450px;
  height: 600px !important;
  background-color: rgba(255, 255, 255, 0.591);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bill .bill_forfaits .bill_boite {
  width: 450px;
  height: 500px;
  box-shadow: 0px 0px 5px white;
}
.bill .bill_forfaits .bill_boite.boite_gauche {
  position: relative;
  left: calc(35% - 800px);
}
.bill .bill_forfaits .bill_boite.boite_droite {
  position: relative;
  left: calc(50% - 800px);
}
.bill .bill_forfaits .bill_nom {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.646);
  width: 100%;
  height: 50px;
  text-align: center;
  color: black;
  font-family: "all-round-gothic";
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}
.bill .bill_forfaits a {
  display: block;
  border: 2px solid white;
  height: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 80%;
  margin: 0 auto;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  padding: 10px 20px;
}/*# sourceMappingURL=style.css.map */