@import "_reset";
@import "_variables";
@import "_components";
@import "_form";
@import "_a-propos";
@import "_accueil";
@import "_actualites";
@import "_admin";
@import "_billetterie";
@import "_panier";
@import "_programmation";
@import "_user";



/*******************************/
/*********** MESSAGES **********/
/*******************************/

.erreur {
    color: rgba(218, 16, 16, 0.902);
    font-style: italic;
    padding-top: 1em;
    margin: 0 auto;
}

/*******************************/
/******* SPECTACLE EDIT *******/
/*******************************/
.spectacle_edit {
    padding-top: 10em;
}
