@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*******************************/
/********** VARIABLES **********/
/*******************************/
/*******************************/
/********** COMPONENTS *********/
/*******************************/
/********** NAV *********/
.nav-menu {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5411764706);
  width: 100%;
  height: 10%;
}
.nav-menu img {
  display: flex;
  top: 25%;
  height: 70%;
  margin-top: 10px;
}
.nav-menu .nav-a {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  top: 0px;
  text-decoration: none;
  color: white;
}

/*********** FOOTER ***********/
footer {
  display: flex;
  flex-direction: column;
}
footer .footer-media {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 100px;
}
footer .footer-media .ligne-gauche {
  display: flex;
  margin-right: 30px;
  height: 1px;
  width: 500px;
  box-shadow: 0px 0px 10px #1DA5F3;
  background: linear-gradient(to left, #ffffff, transparent);
}
footer .footer-media .foot-media {
  display: flex;
  align-items: center;
}
footer .footer-media .foot-media li {
  margin: 0px 30px;
}
footer .footer-media .foot-media li img {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
}
footer .footer-media .ligne-droite {
  display: flex;
  margin-left: 30px;
  height: 1px;
  width: 500px;
  box-shadow: 0px 0px 10px #1DA5F3;
  background: linear-gradient(to right, #ffffff, transparent);
}
footer .foot-nav-adresse {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;
}
footer .foot-nav-adresse .foot-menu {
  display: flex;
  flex-direction: column;
}
footer .foot-nav-adresse .foot-menu .menu {
  font-family: all-round-gothic, sans-serif;
  font-size: 2em;
  font-weight: 500;
}
footer .foot-nav-adresse .foot-menu li {
  font-family: ethnocentric, sans-serif;
  font-weight: 300;
  margin: 10px 0px;
}
footer .foot-nav-adresse .foot-menu li a {
  text-decoration: none;
  color: white;
}
footer .foot-nav-adresse .foot-menu li a:hover {
  color: #1DA5F3;
}
footer .foot-nav-adresse .foot-map {
  align-self: center;
  text-align: center;
  margin-left: 75px;
}
footer .foot-nav-adresse .foot-map img {
  height: 60px;
}
footer .foot-nav-adresse .foot-map p {
  font-family: all-round-gothic, sans-serif;
  font-size: 1.3em;
}
footer .foot-nav-adresse .foot-logo {
  align-self: center;
}
footer .foot-nav-adresse .foot-logo img {
  height: 200px;
}
footer .foot-nav-adresse .foot-logo p {
  text-align: center;
  font-family: ethnocentric, sans-serif;
  font-weight: 300;
}
footer .foot-nav-adresse .foot-logo p a {
  text-decoration: none;
  color: white;
}
footer .foot-nav-adresse .foot-logo p a:hover {
  color: #1DA5F3;
}
footer .foot-app {
  display: flex;
  align-items: center;
  align-self: center;
}
footer .foot-app .ligne-gauche {
  display: flex;
  margin-right: 80px;
  height: 1px;
  width: 500px;
  box-shadow: 0px 0px 10px #1DA5F3;
  background: linear-gradient(to left, #ffffff, transparent);
}
footer .foot-app p {
  font-family: all-round-gothic, sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0px 0px 20px white;
}
footer .foot-app .ligne-droite {
  display: flex;
  margin-left: 80px;
  height: 1px;
  width: 500px;
  box-shadow: 0px 0px 10px #1DA5F3;
  background: linear-gradient(to right, #ffffff, transparent);
}
footer .foot-store {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 400px;
  margin-top: 30px;
}
footer .foot-store .apple {
  display: flex;
  height: 60px;
  border: 1px solid grey;
  border-radius: 5px;
}
footer .foot-store .google {
  display: flex;
  height: 60px;
  border: 1px solid grey;
  border-radius: 5px;
}
footer .foot-copy {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
footer .foot-copy img {
  width: 16px;
}
footer .foot-copy p {
  font-family: all-round-gothic, sans-serif;
  text-transform: uppercase;
}

/*******************************/
/*********** ACCUEIL ***********/
/*******************************/
.titre-hidden {
  display: none;
}

/*********** HEADER ***********/
.acc-header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  height: 100vh;
}
.acc-header .acc-media {
  margin-top: 50px;
}
.acc-header .acc-media li {
  margin-bottom: 10px;
}
.acc-header .acc-media li img {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
}
.acc-header .acc-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.acc-header .acc-centre .acc-date {
  font-family: all-round-gothic, sans-serif;
  font-size: 3em;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.acc-header .acc-centre .acc-logo img {
  width: 800px;
  padding-top: 50px;
}
.acc-header .acc-centre .acc-fleche .cercle {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #1DA5F3;
  box-shadow: 0px 0px 20px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acc-header .acc-btn-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.acc-header .acc-btn-menu .acc-btn img {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
  width: 40px;
}
.acc-header .acc-btn-menu p {
  font-size: 1.3em;
}
.acc-header .acc-btn-menu .acc-menu {
  font-family: all-round-gothic, sans-serif;
}
.acc-header .video-bg-header {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-width: 1550px;
  overflow: hidden;
}
.acc-header .video-bg-header video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

/*********** MAIN ***********/
.acc-text-events {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.acc-text-events .phrases {
  position: absolute;
  font-family: all-round-gothic, sans-serif;
  font-weight: 600;
  font-size: 10em;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}
.acc-text-events .phrases p {
  margin: 100px 0px;
  word-spacing: 100px;
}
.acc-text-events .video-background {
  position: relative;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acc-text-events .video-background video {
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.acc-events {
  display: grid;
  position: relative;
  overflow: hidden;
}
.acc-events h2 {
  position: absolute;
  justify-self: center;
  margin: 50px 0px;
  font-family: all-round-gothic, sans-serif;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
  color: #1DA5F3;
  text-shadow: 0px 0px 10px #1DA5F3;
}
.acc-events h2 .ligne-h2 {
  margin: 50px 0px;
  height: 1px;
  width: 100%;
  box-shadow: 0px 0px 10px #1DA5F3;
  background: linear-gradient(to left, transparent, #1DA5F3, transparent), linear-gradient(to right, transparent, #1DA5F3, transparent);
}
.acc-events .events {
  position: absolute;
  display: flex;
  place-self: center;
  align-items: center;
}
.acc-events .events .vignettes {
  position: relative;
  display: flex;
  margin: 50px;
  box-shadow: 0px 0px 20px #1DA5F3;
  width: 390px;
  height: 425px;
  align-items: end;
}
.acc-events .events .vignettes img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.acc-events .events .vignettes .cadre {
  position: absolute;
  background-color: #06162F;
  padding: 10px;
}
.acc-events .events .vignettes .cadre .titre {
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.acc-events .events .vignettes .cadre p:nth-child(2) {
  font-family: "all-round-gothic";
  color: #1DA5F3;
}
.acc-events .events-bg {
  position: relative;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acc-events .events-bg img {
  max-width: 100%;
  min-width: 1390px;
  opacity: 0.5;
}
.acc-events .btn-reservation {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 130px;
}
.acc-events .btn-reservation a {
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 20px;
  width: 350px;
  margin: 0 10px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.acc-events .btn-reservation a:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}

.acc-logo-video {
  display: grid;
  align-items: center;
  justify-items: center;
}
.acc-logo-video .acc-logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acc-logo-video .acc-logo img {
  width: 60%;
}
.acc-logo-video .acc-logo p {
  font-family: all-round-gothic, sans-serif;
  font-size: 3em;
  text-shadow: 0px 0px 10px white;
}
.acc-logo-video .video-bg-logo {
  height: 600px;
  width: 100%;
  min-width: 1390px;
  overflow: hidden;
}
.acc-logo-video .video-bg-logo video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.a-propos {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
  background-image: url(../images/bg_apropos2.jpg);
  background-size: cover;
  font-family: all-round-gothic, sans-serif;
}
.a-propos h1 {
  text-align: center;
  font-size: 2em;
}
.a-propos .texte-apropos {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 50px rgb(24, 24, 24);
  width: 50vw;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  position: relative;
  padding: 3rem;
}
.a-propos .texte-apropos p {
  padding-top: 1.5rem;
}
.a-propos .img-admin {
  display: flex;
}
.a-propos .img-admin img {
  width: 50vw;
  height: 50vh;
}
.a-propos .nous-joindre {
  display: flex;
  padding-top: 3rem;
}
.a-propos .nous-joindre .info {
  font-size: 2em;
}

/*******************************/
/********** ADMIN PAGE *********/
/*******************************/
.page_admin {
  background-image: url(../images/bg_apropos6.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.page_admin .deconnect_admin {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 200px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .deconnect_admin:hover {
  background-color: black;
  color: white;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
}
.page_admin h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #06162F;
}
.page_admin .vue_admin_users {
  display: flex;
  color: white;
}
.page_admin .vue_admin_users p {
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 500;
  color: white;
}
.page_admin .vue_admin_users .users_admin {
  text-align: center;
  color: white;
  font-family: all-round-gothic, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 4rem;
  background-color: rgba(24, 23, 23, 0.568);
  padding: 20px;
  width: 40%;
  box-shadow: 0px 0px 5px white;
}
.page_admin .vue_admin_users .users_admin .submit_suppression_user {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 1rem auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 200px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .vue_admin_users .users_admin .submit_suppression_user:hover {
  background-color: black;
  color: white;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .vue_admin_users .users_admin a {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .vue_admin_users .users_admin a:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .vue_admin_users .forfait_user {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: all-round-gothic, sans-serif;
  background-color: rgba(24, 23, 23, 0.568);
  padding: 20px;
  width: 40%;
  margin: 4rem;
  box-shadow: 0px 0px 5px white;
}
.page_admin .vue_admin_users .forfait_user .pas-forfait {
  font-size: 1em;
}
.page_admin .vue_admin_users .forfait_user .forfait_associe {
  border: 1px solid black;
  padding: 1em;
  margin: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
}
.page_admin .vue_admin_users .forfait_user .forfait_associe li {
  font-size: 1em;
  font-weight: 400;
}
.page_admin .vue_admin_users .forfait_user .forfait_associe input {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 300px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .vue_admin_users .forfait_user .forfait_associe input:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .admin_modif {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: all-round-gothic, sans-serif;
  background-color: rgba(31, 29, 29, 0.568);
  padding: 20px;
  width: 40%;
  margin: 4rem auto;
  box-shadow: 0px 0px 5px white;
}
.page_admin .admin_modif p {
  font-size: 1.5em;
}
.page_admin .admin_modif .submit_suppression_user {
  cursor: pointer;
  color: white;
  font-family: ethnocentric, sans-serif;
  background-color: rgba(0, 0, 0, 0.402);
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 200px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .admin_modif .submit_suppression_user:hover {
  background-color: black;
  color: white;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .admin_modif .creation_admin {
  cursor: pointer;
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 300px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .admin_modif .creation_admin:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .admin_modif a {
  cursor: pointer;
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 200px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .admin_modif a:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .programmation-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: all-round-gothic, sans-serif;
  background-color: rgba(31, 29, 29, 0.568);
  padding: 20px;
  width: 40%;
  margin: 4rem auto;
  box-shadow: 0px 0px 5px white;
}
.page_admin .programmation-list caption {
  font-size: 1.75em;
}
.page_admin .programmation-list a.modifier_prog {
  cursor: pointer;
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 0.75em;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  width: 150px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .programmation-list a.modifier_prog:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .programmation-list button {
  cursor: pointer;
  color: black;
  font-family: ethnocentric, sans-serif;
  font-size: 0.75em;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  width: 150px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .programmation-list button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .programmation-list table {
  margin: 1rem;
  border: 1px solid white;
}
.page_admin .programmation-list thead {
  border: 1px solid white;
}
.page_admin .programmation-list th {
  padding: 1em;
}
.page_admin .programmation-list td {
  border: 1px solid white;
  padding: 0.5em;
}
.page_admin .programmation-list a.ajout_prog {
  display: block;
  cursor: pointer;
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 300px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .programmation-list a.ajout_prog:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .actu {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: all-round-gothic, sans-serif;
  background-color: rgba(31, 29, 29, 0.568);
  padding: 20px;
  width: 60%;
  margin: 4rem auto;
  box-shadow: 0px 0px 5px white;
}
.page_admin .actu .supp_actu {
  cursor: pointer;
  color: black;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 300px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .actu .supp_actu:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .actu a.modif_actu {
  cursor: pointer;
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 300px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .actu a.modif_actu:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.page_admin .actu .ajout_act {
  display: block;
  cursor: pointer;
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
  padding: 10px 10px;
  width: 300px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.page_admin .actu .ajout_act:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}

.prog {
  background-image: url(../images/lignes.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.prog .prog_bubbles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  position: relative;
  height: 600px;
  flex-wrap: wrap;
}
.prog .prog_bubbles .image_bubbles {
  min-height: 100%;
  display: flex;
}
.prog .prog_bubbles .image_bubbles img {
  margin-bottom: 10px;
}
.prog .prog_bubbles .image_bubbles .image-haut {
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 8px white;
  margin: 10px;
  align-self: flex-start;
}
.prog .prog_bubbles .image_bubbles .image-milieu {
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 8px white;
  margin: 10px;
  align-self: center;
}
.prog .prog_bubbles .image_bubbles .image-bas {
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 8px white;
  margin: 10px;
  align-self: flex-end;
}
.prog h1 {
  margin-top: 2rem;
  padding: 2em 0 0 2em;
  text-shadow: 0px 0px 5px white;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2rem;
}

/*******************************/
/********** ACTUALITÉS *********/
/*******************************/
.actu {
  display: flex;
  background-image: url(../images/bg_apropos5.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 15em;
  flex-direction: column;
}
.actu .actu-h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
.actu .actu-h1 h1 {
  display: flex;
  justify-content: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 500;
}
.actu .actu-conteneur {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  width: 1400px;
  height: 500px;
  margin: 0px auto;
}
.actu .actu-conteneur .actu-info {
  display: flex;
  flex-direction: column;
}
.actu .actu-conteneur .actu-info .actu-titre {
  display: flex;
}
.actu .actu-conteneur .actu-info .actu-date {
  display: flex;
}
.actu .actu-conteneur .actu-info .actu-texte {
  display: flex;
  text-align: justify;
  margin-right: 40px;
}
.actu .actu-conteneur .actu-img {
  display: flex;
}
/*******************************/
/********** BILLETTERIE ********/
/*******************************/
.bill {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bill .bill_forfaits {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.bill .bill_forfaits .boite_1 {
  z-index: 3;
  width: 450px;
  height: 600px !important;
  background-color: rgba(255, 255, 255, 0.591);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bill .bill_forfaits .bill_boite {
  width: 450px;
  height: 500px;
  box-shadow: 0px 0px 5px white;
  transition: transform 0.3s ease-in-out;
}
.bill .bill_forfaits .bill_boite.boite_gauche {
  margin-right: 10%;
}
.bill .bill_forfaits .bill_boite.boite_droite {
  margin-left: 10%;
}
.bill .bill_forfaits .bill_nom {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.646);
  width: 100%;
  height: 50px;
  text-align: center;
  color: black;
  font-family: "all-round-gothic";
  font-weight: 600;
  font-size: 1.75em;
  text-transform: uppercase;
}
.bill .bill_forfaits a {
  display: block;
  border: 2px solid white;
  height: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 80%;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  padding: 0.25em;
  margin: 0 auto;
  width: 280px;
  border: 3px solid white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.bill .bill_forfaits a:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}

/*******************************/
/*********** MESSAGES **********/
/*******************************/
.erreur {
  color: rgba(218, 16, 16, 0.902);
  font-style: italic;
  padding-top: 1em;
  margin: 0 auto;
}

/*******************************/
/******** CONNEXION USER *******/
/*******************************/
.connexion_user {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.connexion_user h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
}
.connexion_user h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}
.connexion_user .connexion_user_form {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px white;
  width: 600px;
  height: 400px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.connexion_user .connexion_user_form label {
  font-size: 1.25em;
}
.connexion_user .connexion_user_form input {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 2em;
  width: 400px;
  height: 50px;
  margin: 2rem;
  box-shadow: 0px 0px 5px white;
  text-align: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  color: white;
}
.connexion_user .connexion_user_form button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.connexion_user .connexion_user_form button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.connexion_user a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.connexion_user a:hover {
  color: #1DA5F3;
}

/*******************************/
/***** ENREGISTREMENT USER *****/
/*******************************/
.enregistrement_user {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.enregistrement_user h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
}
.enregistrement_user .enregistrement_user_form {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px white;
  width: 800px;
  height: 600px;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.enregistrement_user .enregistrement_user_form .enregistrement_user_form_group_email input {
  width: 720px;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  margin: 1rem auto;
}
.enregistrement_user .enregistrement_user_form .enregistrement_user_form_group.user-names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.enregistrement_user .enregistrement_user_form .enregistrement_user_form_group.passwords {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  padding-top: 1.5em;
}
.enregistrement_user .enregistrement_user_form label {
  font-size: 1.25em;
}
.enregistrement_user .enregistrement_user_form input {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 2em;
  width: 300px;
  height: 50px;
  margin: 2rem;
  box-shadow: 0px 0px 5px white;
  text-align: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  color: white;
}
.enregistrement_user .enregistrement_user_form input #email {
  width: 400px;
}
.enregistrement_user .enregistrement_user_form button {
  margin-top: 1rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.enregistrement_user .enregistrement_user_form button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}

/*******************************/
/********* PANIER USER *********/
/*******************************/
.panier_user {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: all-round-gothic, sans-serif;
}
.panier_user h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 1em;
}
.panier_user .panier_selection {
  width: 400px;
  height: 600px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  margin-top: 10rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.panier_user .panier_selection .selected_info {
  background-color: rgba(255, 255, 255, 0.578);
  height: 60px;
  width: 400px;
  color: black;
  font-size: 1.25em;
  font-family: ethnocentric, sans-serif;
  padding: 0.35em;
  position: absolute;
  top: 0;
  right: 0;
}
.panier_user .forfaits {
  display: flex;
}
.panier_user .forfaits .un_forfait {
  width: 300px;
  height: 500px;
  margin: 100px 180px 20px 180px;
  text-align: center;
  background-size: cover;
}
.panier_user .forfaits .un_forfait .info_forfait {
  background-color: rgba(255, 255, 255, 0.578);
  height: 60px;
  color: black;
  font-size: 1.25em;
  font-family: ethnocentric, sans-serif;
  padding: 0.35em;
}
.panier_user .forfaits .un_forfait .selection_forfait {
  margin-top: 400px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  height: 30px;
  text-align: center;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.85em;
  font-family: ethnocentric, sans-serif;
  color: white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.panier_user .forfaits .un_forfait .selection_forfait:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.panier_user .form_panier {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 42%;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.panier_user .form_panier .form-group {
  margin-bottom: 14px;
  text-align: center;
}
.panier_user .form_panier .form-group input {
  width: 200px;
  height: 40px;
  border-radius: 2em;
  text-align: center;
  background-color: rgba(255, 252, 252, 0.63);
  font-size: 1em;
  color: rgb(0, 0, 0);
}
.panier_user .form_panier .form-group .submit_panier {
  border-radius: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  border: 2px solid white;
  height: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90%;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  margin: 0 auto;
  width: 280px;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.panier_user .form_panier .form-group .submit_panier:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.panier_user .form_panier .form-group label {
  display: block;
  font-size: 1.5em;
  text-shadow: 0px 0px 6px rgb(7, 7, 7);
}
.panier_user .deconnect_user {
  margin-top: 80px;
}
.panier_user .deconnect_user input {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  border: 2px solid #1DA5F3;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25em;
  margin: 0 auto;
  color: white;
  padding: 0.35em;
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.panier_user .deconnect_user input:hover {
  background-color: white;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid white;
}

/*******************************/
/********** USER INDEX *********/
/*******************************/
#app_user .user_index {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/lignes.jpg);
  background-size: cover;
  overflow: auto;
}
#app_user .user_index h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 2em;
}
#app_user .user_index .user_reservations {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#app_user .user_index .user_reservations .forfaits_users {
  color: white;
  font-family: all-round-gothic, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px 20px;
  background-color: rgba(24, 24, 24, 0.568);
  padding: 20px;
  width: 500px;
  box-shadow: 0px 0px 5px white;
  margin-bottom: 20px;
}
#app_user .user_index .user_reservations .forfaits_users h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
}
#app_user .user_index .user_reservations .forfaits_users .prix {
  font-size: 1.25em;
}
#app_user .user_index .user_reservations .forfaits_users .dates {
  margin-top: 1rem;
  padding: 1em;
  background-color: rgba(221, 221, 221, 0.454);
  box-shadow: inset 0px 0px 5px rgb(31, 31, 31);
  color: black;
}
#app_user .user_index .user_reservations .forfaits_users p {
  margin: 0.5rem;
}
#app_user .user_index .user_reservations .forfaits_users form button {
  cursor: pointer;
  display: block;
  border: 2px solid white;
  height: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 80%;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75em;
  color: black;
  padding: 0.25em;
  margin: 1rem auto;
  width: 130px;
  border: 3px solid white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#app_user .user_index .user_reservations .forfaits_users form button:hover {
  background-color: black;
  color: white;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
#app_user .user_index .user_reservations .forfaits_users .toggle-programmation {
  cursor: pointer;
  display: block;
  border: 2px solid white;
  height: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 80%;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75em;
  color: black;
  padding: 0.25em;
  margin: 1.25rem auto;
  width: 130px;
  border: 3px solid white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#app_user .user_index .user_reservations .forfaits_users .toggle-programmation:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1000;
  overflow-y: auto;
  transition: height 0.3s ease;
  pointer-events: none;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded {
  margin-top: 1rem;
  padding: 1em;
  display: block;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  background-color: rgba(18, 18, 18, 0.4823529412);
  position: fixed;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  z-index: 1001;
  box-shadow: 0px 0px 5px white;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded .fermer-programmation {
  position: relative;
  padding: 0.25em;
  left: 50%;
  font-size: 2em;
  font-weight: 300;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px white;
  color: white;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded h2 {
  margin-bottom: 1rem;
  font-family: ethnocentric, sans-serif;
  color: white;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded h3 {
  font-size: 2em;
  margin-bottom: 1rem;
  color: white;
  background-color: black;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded .show_info {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.986);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  align-items: center;
  padding: 10px;
  font-size: 1.5em;
  margin: 1rem;
  text-align: center;
  box-shadow: inset 0px 0px 5px rgb(23, 23, 23);
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded .heure {
  flex: 1;
  text-align: center;
  margin: 1rem;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded .nom {
  flex: 1;
  text-align: center;
  margin: 1rem;
}
#app_user .user_index .user_reservations .forfaits_users .programmation_user.expanded .img_user {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
}
#app_user .user_index .autre_forfait {
  cursor: pointer;
  display: block;
  border: 2px solid white;
  background-color: #1DA5F3;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75em;
  color: white;
  padding: 1.5em;
  margin: 1.25rem auto;
  width: 200px;
  border: 3px solid white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#app_user .user_index .autre_forfait:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
#app_user .user_index .submit_forfait {
  cursor: pointer;
  display: block;
  border: 2px solid white;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-family: ethnocentric, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75em;
  color: black;
  padding: 1.5em;
  margin: 1.25rem auto;
  width: 200px;
  border: 3px solid white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  text-shadow: 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#app_user .user_index .submit_forfait:hover {
  background-color: #1DA5F3;
  color: white;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}

/*******************************/
/********** USER EDIT **********/
/*******************************/
.user_edit {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.user_edit h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
}
.user_edit h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}
.user_edit .user_modif_form {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px white;
  width: 600px;
  height: 500px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.user_edit .user_modif_form label {
  font-size: 1.25em;
}
.user_edit .user_modif_form input {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 2em;
  width: 400px;
  height: 50px;
  margin: 2rem;
  box-shadow: 0px 0px 5px white;
  text-align: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  color: white;
}
.user_edit .user_modif_form button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.user_edit .user_modif_form button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.user_edit a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.user_edit a:hover {
  color: #1DA5F3;
}

/*******************************/
/******* ADMIN CONNEXION *******/
/*******************************/
.login_admin {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.login_admin h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
}
.login_admin h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}
.login_admin .login_admin_form {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px white;
  width: 600px;
  height: 400px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login_admin .login_admin_form label {
  font-size: 1.25em;
}
.login_admin .login_admin_form input {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 2em;
  width: 400px;
  height: 50px;
  margin: 2rem;
  box-shadow: 0px 0px 5px white;
  text-align: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  color: white;
}
.login_admin .login_admin_form button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.login_admin .login_admin_form button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.login_admin a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.login_admin a:hover {
  color: #1DA5F3;
}

/*******************************/
/******* ADMIN CREATE  *******/
/*******************************/
.admin_create {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.admin_create h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
}
.admin_create .admin_form_create {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px white;
  width: 800px;
  height: 700px;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.admin_create .admin_form_create .enregistrement_admin_form_group_email input {
  width: 720px;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  margin: 1rem auto;
}
.admin_create .admin_form_create .enregistrement_admin_form_group.user-names {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.admin_create .admin_form_create .enregistrement_admin_form_group.passwords {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  padding-top: 1.5em;
}
.admin_create .admin_form_create .enregistrement_admin_form_group_droits­ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  padding-top: 1.5em;
}
.admin_create .admin_form_create select {
  border-radius: 1em;
  width: 170px;
  font-family: all-round-gothic, sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
}
.admin_create .admin_form_create label {
  font-size: 1.25em;
}
.admin_create .admin_form_create input {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 2em;
  width: 300px;
  height: 50px;
  margin: 2rem;
  box-shadow: 0px 0px 5px white;
  text-align: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  color: white;
}
.admin_create .admin_form_create input #email {
  width: 400px;
}
.admin_create .admin_form_create button {
  margin-top: 1rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.admin_create .admin_form_create button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}

/*******************************/
/******* ADMIN EDIT  *******/
/*******************************/
.edit_admin {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.edit_admin h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  text-transform: uppercase;
}
.edit_admin h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}
.edit_admin .edit_admin_form {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 5px white;
  width: 600px;
  height: 500px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.edit_admin .edit_admin_form label {
  font-size: 1.25em;
}
.edit_admin .edit_admin_form input {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 2em;
  width: 400px;
  height: 50px;
  margin: 2rem;
  box-shadow: 0px 0px 5px white;
  text-align: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  color: white;
}
.edit_admin .edit_admin_form button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.edit_admin .edit_admin_form button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}

/*******************************/
/********** ACTUALITÉS *********/
/*******************************/
.actu_create {
  padding-top: 10rem;
}

/*******************************/
/******* ACTUALITÉS EDIT *******/
/*******************************/
.actu-edit {
  background-image: url(../images/background-sand.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vw;
  padding-top: 8em;
  font-family: all-round-gothic, sans-serif;
}
.actu-edit h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
}
.actu-edit p {
  text-align: center;
  font-size: 1.5em;
}
.actu-edit .actu-edit-form {
  background-color: rgba(0, 0, 0, 0.648);
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.48);
  width: 750px;
  height: 680px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.actu-edit .actu-edit-form form {
  display: flex;
  flex-direction: column;
}
.actu-edit .actu-edit-form form label {
  font-size: 1.5em;
  text-transform: uppercase;
}
.actu-edit .actu-edit-form form #date,
.actu-edit .actu-edit-form form #details,
.actu-edit .actu-edit-form form #titre {
  background-color: rgba(255, 255, 255, 0.155);
  border-radius: 2em;
  width: 630px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6), inset 0px 0px 20px rgb(0, 0, 0);
  border: none;
  text-align: center;
  font-family: all-round-gothic, sans-serif;
  font-size: 1.5em;
  color: white;
}
.actu-edit .actu-edit-form form .actu-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actu-edit .actu-edit-form form #date {
  font-size: 1.2em;
  padding: 15px;
  width: 200px;
  height: 30px;
  color: white;
}
.actu-edit .actu-edit-form form #details {
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
}
.actu-edit .actu-edit-form form #details::-webkit-scrollbar {
  display: none;
}
.actu-edit .actu-edit-form form .actu-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actu-edit .actu-edit-form form .actu-image > label {
  margin-right: 30px;
}
.actu-edit .actu-edit-form form input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1em;
  font-weight: 300;
  border: 2px solid white;
  padding: 10px;
}
.actu-edit .actu-edit-form form input[type=file]::-webkit-file-upload-button:hover {
  background-color: white;
  color: black;
}
.actu-edit .actu-edit-form form button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.005);
  color: white;
  font-family: ethnocentric, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 40px;
  width: 350px;
  border: 3px solid white;
  text-shadow: 0px 0px 5px white;
  box-shadow: 0px 0px 5px white, inset 0px 0px 5px white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.actu-edit .actu-edit-form form button:hover {
  background-color: #1DA5F3;
  color: #06162F;
  text-shadow: 0px 0px 5px #06162F;
  box-shadow: 0px 0px 10px #1DA5F3;
  border: 3px solid #1DA5F3;
}
.actu-edit a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.actu-edit a:hover {
  color: #1DA5F3;
}

/*******************************/
/******* PROGRAMMATION EDIT *******/
/*******************************/
.prog_edit {
  padding-top: 10rem;
}

/*******************************/
/******* ARTISTE EDIT *******/
/*******************************/
.artiste_edit {
  padding-top: 10em;
}

/*******************************/
/******* SPECTACLE EDIT *******/
/*******************************/
.spectacle_edit {
  padding-top: 10em;
}/*# sourceMappingURL=style.css.map */